*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.dvi 
*.bbl 
*.blg 
*.lof 
*.lot 
*.cb 
*.backup 
*.out 
*.glo 
*.idx 
*.fls 
*.lol 
*.ilg 
*.gls 
*.plog 
*.ind 
*.npc 
*.nps 
*.nav 
*.fdb_latexmk 
*.snm 
*.vrb 
*.synctex.gz